{% extends "base.html" %}

{% block content%}

    <div class="container">
        <div class="row">
            <div class="three columns">
                <h4>List of Problems</h4>
            </div>
            <div class="six columns">
                <input type="text" style="width: 100%;"/>
            </div>
            <div class="three columns"> 
            </div>
        </div>        
        <div class="row">
            
            <div class="twelve columns">                
            </div>
        </div>
    </div>

{% endblock%}
